.blog-overlay {
  position: fixed;
  top: -1000px;
  right: -1000px;
  bottom: -1000px;
  left: -1000px;
  background: rgba(0,0,0,.4);
  z-index: 1000;
  /*opacity: 0;*/
  display: none;
}
.overlay-show {
  display: block;
  /*这里需要将body设置为overflow: hidden;用于禁止滚动*/
}
.clear {
  clear: both;
}
.head-center {
  
}
.head-right {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.head-btn {
  padding: 5px;
  margin-left: 8px;
  cursor: pointer;
}
.h-auth {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #9bd098;
  margin-left: 13px;
}
.toolbar {
  height: 50px;
  width: 100%;
  background-color: #009688;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
.content {
  display: flex;
  flex-direction: row;
  padding: 0 55px 55px 55px;
  justify-content: center;
}
.layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 72%;
  max-width: 890px;
}
.layout-head {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  min-width: 520px;
}
.head-wapper {
  position: relative;
  padding: 0 55px;
  display: flex;
  justify-content: center;
}
.head-inner {
  height: 43px;
  background-color: #fff;
  width: 72%;
  max-width: 890px;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid #C6C6C6;
  opacity: 0.955;
  z-index: 999;
  position: relative;
}
.head-container {
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head-back {
  z-index: 20;
  font-size: 2em;
  cursor: pointer;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  border-radius: 6px;
  padding: 4px;
  color: #808080;
  transition: all 0.5s ease-out;
}
.head-back:hover {
  background-color: #d2d2d2;
  transition: all 0.5s ease-out;
}

.layout-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 10px;
  
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.layout-body.is-content{
  padding: 0;
}
.loading {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading > i {
  font-size: 1.2em;
  color: #5a5a5a;
}
.footer {
  color: #aaa;
  font-size: 0.7em;
  position: fixed;
  bottom: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: -1;
  letter-spacing: 0.3px;
}
.footer > span {
  margin: 0 5px;
  cursor: pointer;
  font-style: italic;
}
.multi-bar {
  position: fixed;
  /*
  居中的button
  left: 1%;
  bottom: 3.5%;
  width: 60px;
  height: 85%;
  */
  /*左下角button*/
  left: 2%;
  bottom: 4.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn{
  width: 40px;
  height: 40px;
  background-color: #757575;
  margin: 3px 0;
  /**/
  will-change: box-shadow;
  border-radius: 50%;
  cursor: pointer;

  background-color: inherit;
  border-color: #fff;
  transition: all 0.5s ease-out;
}
.btn:hover{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 1px, rgba(0, 0, 0, 0.14) 0px 3px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  background-color: #cacaca;
  transition: background-color 0.5s ease-out;
}
.btn:active {
  background-color: #ccc;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 15px -1px, rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  transition: background-color 0.5s ease-out;
}
.btn > a {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn > a > i {
  font-size: 1.45em;
  color: #636363;
}