@import '~vuetify/src/stylus/settings/_variables'
$material-light.background = #E6E6E6
$body-font-family = 'PingFang SC','Microsoft YaHei'
$alert-font-size = 16px
@import '~vuetify/src/stylus/main'
@import '~vuetify/src/stylus/app'
@import './tags-init.styl'
