@import '~vuetify/src/stylus/settings/_variables'
$material-light.background = #E6E6E6
$body-font-family = 'PingFang SC','Microsoft YaHei'
$alert-font-size = 16px
.v-list__tile__action .v-input--selection-controls .v-input__slot {
  padding: 0;
  margin: 0;
}
@import '~vuetify/src/stylus/main'
@import '~vuetify/src/stylus/app'
@import './tags-init.styl'
